# build output
.output/
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#static files
prod_db.txt

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
