<footer
  class="footer-background py-12 flex flex-col justify-center items-center leading-4"
>
  <p class="text-xl text-center mb-4">
    Made with <span class="love">❤️</span> by
    <a
      href="https://github.com/mojah"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit Mojah's GitHub profile"
      class="text-book-theme border-b-2 border-transparent hover:border-book-yellow transition ease-in-out duration-300"
    >
      Mojah
    </a>
  </p>
</footer>
