---

---

<section
  class="bg-gray-30 pt-10 pb-12 overflow-hidden md:pt-18 md:pb-5 lg:pt-22 lg:pb-10"
>
  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative">
      <blockquote class="mt-8">
        <div
          class="max-w-7xl mx-auto text-center text-3xl leading-9 font-medium text-gray-900 font-body"
        >
          <p style="color:#0077B5">
            “Spirituality without quantum physics is an incomplete picture of
            reality. Broadly speaking, although there are some differences, I
            think Buddhist philosophy and quantum physics can shake hands on
            their view of the world….It is my belief that quantum physics is
            closer to spirituality than to religion”
          </p>
        </div>

        <div
          class="font-body p-5 md:flex md:items-center md:justify-center sm:px-6 lg:px-8 text-center text-xl"
        >
          The Dalai Lama, Delhi 2015
        </div>
      </blockquote>
    </div>
  </div>
</section>
