<section
  class="bg-gray-30 pt-10 overflow-hidden md:pt-10 md:pb-5 lg:pt-10 lg:pb-1"
>
  <div class="mx-auto">
    <div class="mb-5 md:max-w-1xl md:mx-auto lg:col-span-8">
      <h1
        class="mt-1 text-2xl tracking-tight leading-10 font-extrabold font-serif text-gray-900 sm:leading-none sm:text-3xl lg:text-3xl xl:text-4xl"
      >
        <a href="/" class="no-underline text-gray-900">
          One Plus One <span class="underline">is One</span>
        </a>
      </h1>
      <p
        class="mt-0 text-base text-gray-800 sm:mt-5 sm:text-xl lg:text-2xl xl:text-2xl font-body"
      >
        A Language Thought experiment on the Cosmological Singularity and the
        Big Bang
      </p>
    </div>
  </div>
</section>
