---
import { Image } from "astro:assets";

import { book } from "../config.json";
---

<link
  href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
  rel="stylesheet"
  type="text/css"
/>

<div class="bg-book-gray relative overflow-hidden">
  <div class="max-w-screen-xl mx-auto pt-16 pb-8 text-lg">
<div class="relative z-10">
      <h2 class="text-5xl mb-10 font-semibold text-gray-50 px-4">
        <span class="text-book-theme pl-4">A 360° VISION:</span><!-- -->
      </h2><div class="flex-none sm:flex">
        <div class="text-base sm:flex-1 px-4">
          <p class="text-lg mb-10 text-gray-100">Because of our unconditional belief in scientific cosmology, notably in quantum physics,
it seems that we are no longer sovereign of our spirit. Yet we need to expand our vision.
We want a 360° vision, and that is an inner vision that prevents our outer vision from an
excess of details that distract from reality. A thought experiment is a sinking into a
reality where details are not present. It is a sinking process rather than an analyzing one.
<br/><br />A sample of chapter titles follow:
</p>
          <ul class="list-disc text-gray-400 ml-10 mb-4 font-body">
            <li class="text-lg mb-2 text-gray-100 font-semibold">
              In the Beginning, there was the Present</li>
              <li class="text-lg mb-2 text-gray-100 font-semibold">
              Food for thoughts, thoughts for food</li>
               <li class="text-lg mb-2 text-gray-100 font-semibold">
              Have you ever tried counting to 1?</li>
               <li class="text-lg mb-2 text-gray-100 font-semibold">
              A particle has no parts</li>
               <li class="text-lg mb-2 text-gray-100 font-semibold">
              What is a singularity?</li>
               <li class="text-lg mb-2 text-gray-100 font-semibold">
                Is it really a Big Bang or an implosion?</li>
               <li class="text-lg mb-2 text-gray-100 font-semibold">
                The center of the initial singularity</li>
            </li>
          </ul>


        </div><div class="sm:flex-1 px-4">
          <Image
            class="rounded-md relative z-10"
            src={"/book-table.jpeg"}
            width={400}
            height={500}
            alt={book.title}
            format={"avif"}
            loading={"eager"}
          />
        </div>
      </div>
    </div>
  </div>
</div>
