---
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Twitter from "./icons/Twitter.astro";
import { Image } from "astro:assets";

import { author } from "../config.json";
---

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-16">
    <h2 class="text-5xl mb-8 font-semibold text-gray-900 px-4 font-serif">
      Meet the<!-- -->&nbsp;<span class="underline">author</span>
    </h2><div class="flex-none sm:flex">
      <div class="sm:flex-1 px-4">
        <Image
          class="mb-4 rounded-md"
          src={"/author.jpeg"}
          width={500}
          height={500}
          alt={author.name}
          format={"avif"}
        />
      </div><div class="text-lg text-gray-600 sm:flex-1 px-4 font-body">
        <p class="mb-4">
          This work began in 2020, after Normand healed from his stroke. It
          marked a quantum leap in the depth of his writing. The work is
          actively being edited and reviewed. Publication will happen in mid
          2025.
        </p>
        <p class="mb-4 p-3 font-style: italic">
On the recommendation of Gloria Wendroff, I set about writing 70 blogs on themes
inspired by Heavenletters.org. The majority of the blogs were written between
November 2013 and June 2014, during several stays in China
(Shenyang in the province of Laoning), and also in Perth, Western Australia.
My period of writing blogs was abruptly interrupted by a severe ischemic stroke
that grounded me for 36 consecutive hours without any medical assistance.
 After a period of occupational therapy, I decided to resume blogging in 2020,
 opting for a synthesis of the 70 previous blogs, which took the form of the
 present book attesting to the reconstruction of numerous new neurological ramifications.
 Gloria's Heavenletters have certainly contributed to this neurological expansion through
 the writing of this book. The work is actively being edited and reviewed.
 Publication will happen in mid 2025.
        </p><p class="text-sm italic text-gray-500">
          {author.location}
        </p><div class="flex flex-row my-2">
          <a title="LinkedIn link" href={author.linkedinUrl} target="_blank">
            <Linkedin />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
